packages: [
  "busy-signal"
  "color-picker"
  "file-icons"
  "git-blame"
  "highlight-selected"
  "intentions"
  "keybinding-cheatsheet"
  "language-javascript-jsx"
  "language-rspec"
  "linter"
  "linter-ruby"
  "linter-ui-default"
  "minimap"
  "monokai"
  "multi-cursor"
  "multifile-rename"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "project-manager"
  "rails-snippets"
  "ruby-test"
  "Stylus"
  "Sublime-Style-Column-Selection"
]
